<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
<li><a class="nav-link scrollto" href="/profile">Profile</a></li>
<li><a class="nav-link scrollto " href="#portfolio">Practice</a></li>
<li><a class="nav-link scrollto" href="/translate">Translate</a></li>
<li><a class="nav-link scrollto" href="/translateTwo">TranslateTWO</a></li>
<li><a class="nav-link scrollto" href="/webinar">Webinar</a></li>
<li><a class="nav-link scrollto" href="/pagination">Common Words</a></li>
<li><a class="nav-link scrollto" href="/forum">Forum</a></li>
<li><a class="nav-link scrollto" href="/logout">Log Out</a></li>