<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webinar</title>
</head>
<body>
    <div id="embedWidget"></div>
	<%- include ("./partials/footer.ejs") %>
  <!-- End Footer -->
<script>
	const meetingId = '<%=meetingId%>';
</script>
<script type='text/javascript'>
	var _options = {
		'_license_key':meetingId,
		'_role_token':'',
		'_registration_token':'',
		'_widget_containerID':'embedWidget',
		'_widget_width':'100%',
		'_widget_height':'100vh',
	};
	(function() {
		!function(i){
			i.Widget=function(c){
				'function'==typeof c&&i.Widget.__cbs.push(c),
				i.Widget.initialized&&(i.Widget.__cbs.forEach(function(i){i()}),
				i.Widget.__cbs=[])
			},
			i.Widget.__cbs=[]
		}(window);
		var ab = document.createElement('script'); 
		ab.type = 'text/javascript'; 
		ab.async = true;
		ab.src = 'https://embed.livewebinar.com/em?t='+_options['_license_key']+'&'+Object.keys(_options).reduce(function(a,k){
				a.push(k+'='+encodeURIComponent(_options[k]));
				return a
			},[]).join('&');
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ab, s);
	})();
</script>
</body>    
</html>