<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Common Words</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./Maxim/assets/img/favicon.png" rel="icon">
  <link href="./Maxim/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./Maxim/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./Maxim/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Maxim - v4.3.0
  * Template URL: https://bootstrapmade.com/maxim-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>\
  <script>
    var wordsJson = "<%=words[0].link%>";
    wordsJson = wordsJson.split(",");
  </script>
  <script>
    var current_page = 1;
    var records_per_page = 12;

var objJson = wordsJson; // Can be obtained from another source, such as your objJson variable

function prevPage()
{
    if (current_page > 1) {
        current_page--;
        changePage(current_page);
    }
}

function nextPage()
{
    if (current_page < numPages()) {
        current_page++;
        changePage(current_page);
    }
}

function changePage(page)
{
    var btn_next = document.getElementById("btn_next");
    var btn_prev = document.getElementById("btn_prev");
    var listing_table = document.getElementById("listingTable");
    var page_span = document.getElementById("page");

    // Validate page
    if (page < 1) page = 1;
    if (page > numPages()) page = numPages();

    listing_table.innerHTML = "";
    
    for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
        listing_table.innerHTML += `<div class = "listItemPagi col-lg-4 col-md-6" data-aos = "fade-in"><img src = "${objJson[i]}"></div>` + "<br>";
    }
    page_span.innerHTML = page;

    if (page == 1) {
        btn_prev.style.color = "#828689";
        btn_prev.disabled = true;

    } else {
        btn_prev.style.color = "#1bac91";
        btn_prev.style.visibility = "visible";
    }

    if (page == numPages()) {
        btn_next.style.visibility = "hidden";
    } else {
        btn_next.style.visibility = "visible";
    }
}

function numPages()
{
    return Math.ceil(objJson.length / records_per_page);
}

window.onload = function() {
    changePage(1);
};
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Unify</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/dash#portfolio">Practice</a></li>
          <li><a class="nav-link scrollto " href="/gesture">Talk With Signs</a></li>
          <li class="dropdown"><a href="#"><span>Translate</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/translate">English To ASL</a></li>
              <li><a href="/translateTwo">ASL to English</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto active" href="/pagination">Common Words</a></li>
          <li class="dropdown"><a href="#"><span>Connect</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/webinar">Webinar</a></li>
              <li><a href="/forum">Forum</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/profile">Profile</a></li>
          <li><a class="nav-link scrollto" href="/logout">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs" style="margin-top: 37px;">
      <div class="container">

        <div class="d-flex justify-content-center align-items-center" style="margin-top: 30px;">
          <h3>Common Words</h3>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page" style="background-color: #f2f9f8; padding-top: 0;">
      <div class="container">
          <div id="listingTable" class="row"></div>
          <div class="d-flex flex-direction-row justify-content-center align-items-center">
          <div><a href="javascript:prevPage()" id="btn_prev">Previous&nbsp;/&nbsp;</a></div>
          <div><a href="javascript:nextPage()" id="btn_next">Next Page</a></div>
          </div>
          <div class="d-flex justify-content-center"><span id="page" class="pagination"></span></div>
          </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include ("./partials/footer.ejs") %>
  <!-- End Footer --><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./Maxim/assets/vendor/aos/aos.js"></script>
  <script src="./Maxim/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./Maxim/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./Maxim/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./Maxim/assets/vendor/php-email-form/validate.js"></script>
  <script src="./Maxim/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./Maxim/assets/js/main.js"></script>

</body>

</html>